@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    font-family: 'Hanken Grotesk';
}

p {
    font-size: 18px;
}

.lite-text {
    opacity: 0.8;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 95vh;

    margin: 0;

    background-color:  hsl(221, 100%, 96%);
}

main {
    display: flex;

    width: clamp(360px, 40rem, 100%);
    height: clamp(40%, 25rem, 100%);

    border-radius: 15px;

    text-align: center;

    background-color: hsl(0, 0%, 100%);
}


.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 50%;

    border-radius: 15px;

    color:  hsl(0, 0%, 100%);

    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result p {
    padding: 0 3rem;
    font-size: 1rem;
}

.result h3 {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.score {
    width: 10rem;
    height: 10rem;
    
    border-radius: 50rem;

    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

}

.score h1 {
    font-size: 3rem;
    margin-bottom: 0;
}



.summary {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 1rem;

    min-width: 50%;

    border-radius: 15px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0.5rem;

    width: 80%;

    border-radius: 5px;

    background-color:hsl(221, 100%, 96%);
}

.summary h2 {
    width: 80%;
    text-align: left;
}

.category-image {
    display: flex;
    gap: 0.5rem;
}

.category:nth-child(2) .category-image {
    color: hsl(0, 100%, 67%);
}
.category:nth-child(3) .category-image {
    color: hsl(39, 100%, 56%);
}
.category:nth-child(4) .category-image {
    color: hsl(166, 100%, 37%)
}
.category:nth-child(5) .category-image {
    color: hsl(234, 85%, 45%);
}

.summary button {
    width: 80%;

    padding: 0.8rem;

    border: none;
    border-radius: 3rem;

    color: white;
    background-color: hsl(224, 30%, 27%);

    cursor: pointer;
    outline: none;
    margin-bottom: 1rem;
}

.summary button:active{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}



footer {
    margin: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}  



@media only screen and (max-width: 376px) {
    main {
        flex-direction: column;
    }
    .result {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}